.leftWindow {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  height: 404px;
  border-right: 1px solid black;
  overflow-y: auto;
  .status {
    flex: 0 1 100%;
    border-bottom: 1px solid black;
    position: relative;
  }
}
